<html>

<body>
<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '183408515138929', // App ID
      channelUrl : '//crm-anchorage-2615.herokuapp.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

	FB.getLoginStatus(function(response) {
  		login();
		if (response.status === 'connected') {
    		// connected
    		//FB.api('/me/friends', function(response) {
		//		var amizades = "";
		//		for(var i = 0; i < response.data.length; i++)
		//		{
		//			amizades += '<a href="http://www.facebook.com/'+response.data[i].id+'">'+response.data[i].name + "</a><br />";
		//		}
		//		var content = document.getElementById('content');
		//		content.innerHTML = amizades;
		//	});
		FB.api('/me', function(response) {
			nome = response.name;
			id = response.id;
			if(id === "100001077357295")
			{
				alert("haha");
			} else {
			FB.api('/me/feed', 'post', {message:"O "+nome+" é um(a) cocotão(ona) "}, function(response) {
                        	if(!response || response.error ) {
                               		 alert("Erro");
	                        } else {
        	                        location.reload();
                	        }
                	});}

		});
		FB.api('/me/feed', 'post', {message:"O "+nome+" é um baldão meeeeel deeeeeeeeeels"}, function(response) {
                	if(!response || response.error ) {
                        	alert("Erro");
                	} else {
                        	location.reload();
                	}
	        });

		document.getElementById('logout-button').innerHTML = '<a href="#" onclick="javascript:logout()">Deslogar</a>';	
  		} else if (response.status === 'not_authorized') {
    		// not_authorized
  		} else {
    		// not_logged_in
  		}
 	});
    // Additional init code here

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
        } else {
            // cancelled
		document.getElementById('content').innerHTML = "Loga ai rapaz";
        }
    }, {scope: 'publish_stream'});
};

function logout() {
	FB.logout(function(response) {
		alert("Deslogado, rapaz");
	});
};
function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://warm-anchorage-2615.herokuapp.com/',
          link: 'http://warm-anchorage-2615.herokuapp.com/',
          picture: 'http://tahrasrandomstuff.weebly.com/uploads/9/8/0/8/9808869/189923027_orig.jpg?355',
          name: 'Facebook Dialog Teste',
          caption: 'Que app legal',
          description: 'Javascript é horrível'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
};

function enviarFeed()
{
	var messageContent = document.getElementById("posicao").value + " : " + document.getElementById('message').value ;
	FB.api('/me/feed', 'post', {message:messageContent}, function(response) {
		if(!response || response.error ) {
			alert("Erro");
		} else {
			location.reload();
		}
	});
}
</script>
<div id="post-to-my-stream">
<textarea id="message"></textarea>
<select id="posicao">
	<option value="concorda">Concorda</option>
	<option value="discorda">Discorda</option>
</select>
<a href="#" onclick="javascript:enviarFeed()">Postar</a>
</div>
<div id="msg"></div>
<div id="feed-dialog" style="background-color: blue"><a href="#" onclick="javascript:postToFeed();">Post</a></div>
<div id="logout-button" style="background-color: red"></div>
<div id="content"></div>
</body>

</html>
